/*Fonts*/
@font-face {
    src: url(../font/nasalization-rg.ttf);
    font-family: nasalization;
}
@font-face {
    src: url(../font/OpenSans-Regular.ttf);
    font-family: Openssans;
}

* {
    box-sizing: border-box;
}

.statusbar {
    background: blue;
}

.page-content {
    width: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-blend-mode: multiply;
    overflow-x: hidden;
}

.md .navbar {
    background: rgba(30, 60, 114, .7);
    font-family: nasalization;
}

img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.timeline-item-date{
    color: #fff;
    font-family: Openssans;
}
#td-title{
    font-family: Openssans;
    font-size: 23px;
}

#td-copyright{
    font-family: Openssans;
    font-size: 14px;
}
.readM{
    font-family: Openssans;
    padding: 14px;
    text-align: right;
    font-size: 15px;
}
